In [1]:
import pandas as pd
import numpy as np

In [21]:
# load data
category_df = pd.read_csv('disaster_categories.csv')
message_df = pd.read_csv('disaster_messages.csv')

In [22]:
# Merge data
merge_df = category_df.merge(message_df, how = 'inner', on = 'id')
merge_df.head()

,id,categories,message,original,genre
0,2,related-1;request-0;offer-0;aid_related-0;medi...,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,related-1;request-0;offer-0;aid_related-1;medi...,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,related-1;request-0;offer-0;aid_related-0;medi...,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,related-1;request-1;offer-0;aid_related-1;medi...,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,related-1;request-0;offer-0;aid_related-0;medi...,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [23]:
# Duplicate data
merge_df = merge_df.drop_duplicates()
merge_df.shape

(26216, 5)

In [30]:
# Drop column which is not needed for modeling and has a bunch of missing values
df = merge_df.drop(['original'], axis=1)
df.head()

,id,categories,message,genre
0,2,related-1;request-0;offer-0;aid_related-0;medi...,Weather update - a cold front from Cuba that c...,direct
1,7,related-1;request-0;offer-0;aid_related-1;medi...,Is the Hurricane over or is it not over,direct
2,8,related-1;request-0;offer-0;aid_related-0;medi...,Looking for someone but no name,direct
3,9,related-1;request-1;offer-0;aid_related-1;medi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,related-1;request-0;offer-0;aid_related-0;medi...,"says: west side of Haiti, rest of the country ...",direct